{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail</title>
    <link rel="stylesheet" href="{% static 'styles/general.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <div class="header-content">
            <a href=""> Nosotros </a>
            <a href=""> Recetas </a>
            <h1>Cocktail Master </h1>
            <a href=""> Novedades </a>
            <a href=""> Contacto </a>

            <div class="header-buttons">
                <button class="Perfil"> </button>
                <button class="Log Out"></button>
            </div>

        </div>

    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>
    
    <footer>
        <p> Cocktail Master 2025 </p>
    </footer>

</body>
</html>